{{ $data := .Inner | transform.Unmarshal }}

<section class="">
  <div class="py-8 lg:py-16 px-4 mx-auto max-w-screen-md">
    <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-center ">{{ $data.title }}</h2>
    <p class="mb-8 lg:mb-16 font-light text-center  sm:text-xl">{{ $data.description }}</p>
    <form action="https://formsubmit.co/8fded330b61c9b711fe8879a400301ab" method="POST" class="space-y-8">
        <input type="hidden" name="_next" value="{{ .Site.BaseURL }}/thanks.html">
      {{ range $field := $data.fields }}
        <div>
          <label for="{{ $field.fieldName }}" class="block mb-2 text-sm font-medium ">{{ $field.name }}</label>
          {{ if eq $field.type "textarea" }}
            <textarea
              id="{{ $field.fieldName }}"
              name="{{ $field.fieldName }}"
              rows="{{ or $field.rows 3 }}"
              class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg shadow-sm border border-gray-300 focus:ring-primary-500 focus:border-primary-500"
              placeholder="{{ $field.placeholder }}"
            ></textarea>
          {{ else }}
            <input
              type="{{ $field.type }}"
              id="{{ $field.fieldName }}"
              name="{{ $field.fieldName }}"
              class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 "
              placeholder="{{ $field.placeholder }}"
              {{ if eq $field.required true }}required{{ end }}
            >
          {{ end }}
        </div>
      {{ end }}
      <button type="submit" class="inline-flex items-center justify-center px-6 py-3 rounded-lg font-bold transition duration-200 ease-in-out bg-primary-600 text-white hover:bg-primary-700 hover:scale-105">
        Submit
      </button>
    </form>
  </div>
</section>
<script>
    document.addEventListener("DOMContentLoaded", function () {
  // Select the hidden input field
  const hiddenInput = document.querySelector('input[name="_next"]');
  
  if (hiddenInput) {
        // Replace the value with window.location.origin + "/thankyou"
        hiddenInput.value = `${window.location.origin}/thankyou`;
    }
});

</script>